## 04. Pandas
- 파이썬 기반의 강력하고 사용하기 쉬운 데이터 분석 및 조작 라이브러리

In [1]:
import pandas as pd

print(pd.__version__)

2.3.3

### Pandas의 핵심 자료 구조
- Series
- DataFrame

### Series
- 인데스(라벨)가 붙은 1차원 배열
- 인덱스 이름을 직접 지정할 수 있음

In [2]:
# series 생성
# 1. 리스트로 생성
data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# 2. 인덱스를 직접 지정
s = pd.Series(data, index = ["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [4]:
# 3. 딕셔너리로 생성
data = {'서울':100, '부산':200, '대구':300}
s = pd.Series(data)
print(s)

서울    100
부산    200
대구    300
dtype: int64

In [5]:
# 4. 하나의 값으로 series 생성
s = pd.Series(7, index = ["가", "나", "다"])
print(s)

가    7
나    7
다    7
dtype: int64

In [6]:
# 시리즈의 주요 속성
data = [10, 20, 30, 40]
s = pd.Series(data, index = ["a", "b", "c", "d"], name = 'test data')
print("values: ", s.values) # 실제 데이터 배열
print("index: ", s.index) # 인덱스 객체
print("dtype: ", s.dtype) # 실제 데이터의 타입
print("size: ", s.size) # 데이터의 개수
print("shape: ", s.shape) # 배열의 형태
print("name: ", s.name) # series 이름

values:  [10 20 30 40]
index:  Index(['a', 'b', 'c', 'd'], dtype='object')
dtype:  int64
size:  4
shape:  (4,)
name:  test data

In [7]:
# 시리즈의 연산
s1 = pd. Series([10, 20, 30], index = ["a", "b", "c"])
s2 = pd.Series([5, 6, 7], index = ['c', 'b', 'd'])

result = s1 + s2

print(result)

a     NaN
b    26.0
c    35.0
d     NaN
dtype: float64

In [8]:
# 브로드캐스팅
s = pd.Series([5, 10, 15])

print(s + 3)
print(s * 2)

0     8
1    13
2    18
dtype: int64
0    10
1    20
2    30
dtype: int64

In [9]:
# 불리언 연산 및 인덱싱
s = pd.Series([50, 60, 70, 80, 90, 100])

mask = s > 70
print(mask)
print(s[mask])

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool
3     80
4     90
5    100
dtype: int64

In [10]:
# 실습 1-1
s = pd.Series([5, 10, 15, 20])
print(s)

0     5
1    10
2    15
3    20
dtype: int64

In [11]:
# 실습 1-2
s = pd. Series([90, 80, 85, 70], index = ["국어", "영어", "수학", "과학"])
print(s)

국어    90
영어    80
수학    85
과학    70
dtype: int64

In [12]:
# 실습 1-3  
data = {'서울':950, '부산':340, '인천':520}
s = pd.Series(data)
print(s["인천"])

520

In [13]:
# 실습 1-4
s = pd.Series([1, 2 ,3, 4])
print("데이터 타입: ", s.dtype)

데이터 타입:  int64

In [14]:
# 실습 1-5
s1 = pd.Series([3, 5, 7], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])

result = s1 + s2

print(result)

a     NaN
b    15.0
c    27.0
d     NaN
dtype: float64

In [15]:
# 실습 1-6
s = pd.Series([1, 2, 3, 4, 5])
print(s + 10)

0    11
1    12
2    13
3    14
4    15
dtype: int64